{
	"arrowParens": "always",
	"printWidth": 110,
	"trailingComma": "all",
	"tabWidth": 4,
	"tabs": true,
	"semi": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"proseWrap": "always",
	"experimentalTernaries": true
}
